<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="static/favicon.gif" type="image/gif" style="height: 16px" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/base.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% block link %} {% endblock link %}
    <title>MSCS: Multi State Cooperative Societies</title>
    {% block style %}
    <style>
        #portal-out {
            color: white;
            text-decoration: none;
            border-radius: 10px;
        }

        #alert {
            width: 100vw;
            text-align: center;
            background-color: #c3efc3;
        }
         @media screen and (max-width: 600px) {
            .subheading {
                display: none;


            }

            #logo2 {
                display: none;
            }
        }
    </style>
    {% endblock style %}
</head>

<body>
    <div class="bosshead">
        <div class="manager">
            <!-- header -->

            <header>
                <div id="logo1">
                    <img src="static\logo1.png" alt="Satyameva Jayate" />
                </div>
                <span class="heading">
                    <h1>MULTI-STATE CO-OPERATIVE SOCIETIES</h1>
                    <span class="subheading">
                        <h4><span id="element"></span></h4>
                    </span>
                </span>

                <div class="logbutton">

                    <button class="btn">
                        <a id="portal-out" href="logoutuser">
                            {% block name %}
                            Logout
                            {%endblock name %}
                        </a>
                    </button>


                </div>

                <div id="logo2">
                    <img src="static\logo2.png" alt="Logo" />
                </div>
            </header>

            <!-- nav-->
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a id="home" href="/homelogout" #>Home</a></li>
                        <li><a id="chart" href="/chart1logout" #>Charts</a></li>
                        <li><a id="regS" href="/regSlogout" #>Reg. socities</a></li>

                        <li class="dropdown">
                            <a id="forme" href="/formilogout">Forms</a>
                            <!-- <button class="dropbtn">Dropdown
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-content">
                                        <li><a href="/formi">Form-I</a></li>
                                        <li><a href="/formii">Form-II</a></li>
                                        <li><a href="/formiii">Form-|||</a></li>
                                        <li><a href="/formiv">Form-IV</a></li>
                                        <li><a href="/formv">Form-V</a></li>
                                    </ul> -->
                        </li>
                        <li><a id="mscsact" href="/checklistlogout" #>MSCS Act</a></li>
                        <!-- <li><a href="" #>Applications</a></li> -->
                        <!-- <li><a id="portal" href="/mscslogin" #>Login</a></li> -->
                        <!-- <li><a href="" #>Report</a></li> -->
                        <!-- <li><a href="" #>Liquidation</a></li> -->
                        <!-- <li><a href="" #>Banks</a></li> -->
                    </ul>
                </nav>
                {% if messages %}
                {% for message in messages %}
                <div id="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}


            </div>
            <div class="main">{% block body %} {% endblock body%}</div>

        </div>


        <footer>
            <section class="footbar">
                <p>
                    <a id="registrars" href="registrarslogout">State Registrars</a> .
                    <a id="societies" href="/societieslogout">Socities in the second schedule</a> .
                    <!-- <a href="" #>Complaint & Hearing Notice</a> .
                    <a href="" #>Hearing order sheet</a> .
                    <a href="" #>Circulars</a> .
                    <a href="" #>Latest Certificates</a> .
                    <a href="" #>Amendments (by laws)</a> .
                    <a href="" #>Notices (new registration)</a>
                    <a href="" #>Rejection Orders</a> . -->
                    <a id="feedbacks" href="/feedbackformlogout">Feedback</a> .
                    <a href="media/documents/RTI_COOP.pdf" target="_blank">RTI</a> .
                    <a id="relatedlink" href="/relatedlogout">Other links</a> .
                    <a id="contactlogout" href="/contactlogout">Contact Us</a> .
                    <a id="grievances" href="/grievanceformlogout">Grievances</a>
                </p>
                <div class="p2" style="font-size: 1rem">
                    Designed and Developed by Agriculture Informatics Division, National
                    Informatics Centre <a id="disclaimer" href="/disclaimerlogout">Disclaimer</a></div>
                <br />
            </section>
        </footer>
    </div>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed("#element", {
            strings: ["Ministry of Cooperation, Govt. of India"],
            typeSpeed: 90,
        });
    </script>
</body>

</html>
