{% extends 'userfiles/base-chart.html' %}
{% block title %} <title>MSCS</title>{% endblock title %}
{% block link %}
{{block.super}}
<link rel="stylesheet" href="static\form-i.css" />
{% endblock link %}

{% block style %}
{{block.super}}<style>
    #chart3 {
        display: block;
        color: white;
        background-color: black;
    }

    .child {
        background-color: #ddddf7;
    }

    img,
    svg {
        vertical-align: middle;
        width: 666px;
    }

    #charts {
        background-color: aliceblue;
    }
</style>
{% endblock style %}


{% block body %}
{{block.super}}
{% endblock body%}

{% block name %}
{{block.super}}

{%endblock name %}

{% block form-heading %}
<div class="child">
    <div class="child-heading">
        <p class="head1">Type-Wise Chart</p>
    </div>
    <div class="child-content">

        <div id="charts">
            <img src="static\Figure_2.png" alt=" Graph Image" style="mix-blend-mode: multiply;">

            <br>
            <br>

            <a id="ctl00_ContentPlaceHolder1_HyperLink1" href="static/Figure_2.png"
                style="color:blue;font-weight:bold;">
                DOWNLOAD</a>
        </div>


    </div>



    {% endblock form-heading %}