{% extends 'userfiles/base-mscsact.html' %}
{% block title %} <title>MSCS</title>{% endblock title %}
{% block link %}
{{block.super}}
<link rel="stylesheet" href="static\form-i.css" />

{% endblock link %}



{% block style %}
{{block.super}}<style>
    #checklist {
        display: block;
        color: white;
        background-color: black;
    }
</style>
{% endblock style %}


{% block body %}
{{block.super}}
{% endblock body%}

{% block name %}
{{block.super}}
{%endblock name %}

{% block form-heading %}
<div class="child">
    <div class="child-heading">
        <p class="head2">Check List regarding documents to be submitted with the proposal for New Registration</p>
        <p class="head2">Check List regarding documents to be submitted with the proposal for the registration of a
            Multi
            state
            Cooperative Society.</p>


    </div>
    <div class="child-content">

        <p>[A]</p>
        <ol>
            <li>Form 1: To be submitted in the format annexed with the MSCS Act 2002 along with the documents required
                under
                Form I.</li>
            <li>A certificate from the bank stating credit balance there in favour of the proposed multi-state
                co-operative
                society.</li>
            <li>A scheme explaining how the proposed multi state co-operative society has reasonable prospects of
                becoming a
                viable unit.</li>
            <li>Four copies of bye-laws in original.</li>
            <li>Proposed area of operation for registration shall initially be permitted for two contagious states only.
            </li>
            <li>List of at least 50 members from each state. The lsit has to be submitted in the format annexed with the
                MSCS Act 2002 along with the copies of ID prooofs of the members duly attested by Chief promoter.</li>
            <li>Certified copies of the resolutions passed by the proposed society along with the certified copy of the
                resolution of the promoters which shall specify the name and address of one of the applicant(s) to whom
                the
                Central Registrar may address correspondence under the rules before registration and dispatch or hand
                over
                registration documents.</li>
            <li>Contact number and e-mail address of the Chief Promoter or Society on cover page.</li>
        </ol>
        <br>
        <div class="Subheading">
            <p>[B]</p>
            <p class="head2">For societies having objects related to thrift and credit and for multi-purpose societies
                following
                additional documents are required to be submitted along with documents mentioned at point [A] above:</p>
            <ol>
                <li>No objection Certificate from the Registrar of Cooperative Societies of the States/U.T. where the
                    area
                    of operation of the society is proposed to be confined.</li>
                <li>A certificate to the effect that the credentials of the Chief Promoter/Promoters have been verified
                    by
                    the Registrar of Co-operative Societies of the state where the head office is proposed to be
                    located.
                </li>
            </ol>
            <br>
            <p class="head2">All documents to be submitted in original with the signatures of the Chief
                Promoter/Promoters
                on each page.
            </p>
            <p class="head3">Note: Societies which are already registered under the MSCS Act, 2002 and are desirous of
                expanding their
                area of operations falling under category (B) above shall be required to submit an NoC as mentioned at
                [B](1)</p>
        </div>



    </div>
</div>


{% endblock form-heading %}