{% extends 'userfiles/base-form.html' %}
{% block title %} <title>MSCS</title>{% endblock title %}
{% block link %}
{{block.super}}
<link rel="stylesheet" href="static\form-i.css" />
{% endblock link %}

{% block style %}
{{block.super}}<style>
    #form-ii {
        display: block;
        text-decoration: none;
        color: white;
        background-color: black;
    }
</style>
{% endblock style %}

{% block body %}
{{block.super}}
{% endblock body%}

{% block name %}
{{block.super}}

{%endblock name %}

{% block form-heading %}
<div class="child">
    <div class="child-heading">
        <p class="head1">FORM – II</p>
        <p class="head2">[See sub-rule (1) of rule 4]</p>
        <p class="head3">Register of applications for registration of multi-state co-operative societies received by the
            Central
            Registrar</p>
    </div>
    <div class="child-content">
        <div class="table1">
            <table cellpadding=" 1" cellspacing="1" border="1" style="width: 95%;  color:black; ">
                <tr>
                    <th style="text-align: center">S. No.</th>
                    <th style="text-align: center">Name of the proposed multi-state co-operative society
                        and the Chief Promoter </th>
                    <th style="text-align: center">Complete address</th>
                    <th style="text-align: center">Date of receipt and how received</th>

                </tr>
                <tr>
                    <td style="text-align: center">(1)</td>
                    <td style="text-align: center">(2)</td>
                    <td style="text-align: center">(3)</td>
                    <td style="text-align: center">(4)</td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
            </table>
        </div>
        <br>
        <div class="table2">
            <table cellpadding=" 1" cellspacing="1" border="1" style="width: 95%;  color:black; ">
                <tr>
                    <th style="text-align: center">Date and reference of acknowledgement</th>
                    <th style="text-align: center">No. and date on which additional information in called </th>
                    <th style="text-align: center">Prescribed date by which information is called </th>
                    <th style="text-align: center">Date on which additional information received </th>

                </tr>
                <tr>
                    <td style="text-align: center">(5)</td>
                    <td style="text-align: center">(6)</td>
                    <td style="text-align: center">(7)</td>
                    <td style="text-align: center">(8)</td>


                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>


                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>


                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>


                </tr>
            </table>
        </div>
        <br>
        <div class="table3">
            <table cellpadding=" 1" cellspacing="1" border="1" style="width: 95%;  color:black; ">
                <tr>
                    <th style="text-align: center">No. and date of the report, if any sent to the Central No. and
                        date of order of Initial Remarks Government, if the society is not
                        registered, within six months</th>
                    <th style="text-align: center" colspan="2">No. and date of order of&nbsp; </th>
                    <th style="text-align: center">Initial Remarks </th>
                    <th style="text-align: center">Signature </th>
                </tr>
                <tr>
                    <th style="text-align: center">&nbsp;</th>
                    <th style="text-align: center">Registration&nbsp; </th>
                    <th style="text-align: center">Refusal</th>
                    <th style="text-align: center">&nbsp;</th>

                </tr>
                <tr>
                    <td style="text-align: center">(9)</td>
                    <td style="text-align: center">(10)</td>
                    <td style="text-align: center">(11)</td>
                    <td style="text-align: center">(12)</td>
                    <td style="text-align: center">(13)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <br>
        <a id="ctl00_ContentPlaceHolder1_HyperLink1" href="Form/Form2.pdf" style="color:Red;font-weight:bold;">DOWNLOAD
            FORM
            2
            IN PDF</a>
    </div>
</div>
{% endblock form-heading %}