body {
    background-color: #f2f2f2;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;*/

}


.sidebar {
    background-color: #f2f2f2;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    left: 0;
    /* z-index: -1; */
}

.sidebar-items {
    display: flex;
}

.sidebar a {
    display: block;
    margin: 10px auto;
    padding: 7px;
    width: 190px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: solid black 2px;
    border-radius: 10%;
    background-color: white;
}

.sidebar a:hover,
.sidebar a:active {
    color: white;
    background-color: black;
}

/* .parent {
    margin: auto;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: fit-content;
    border: solid black 2px;
    background-color: rgb(99, 196, 201);
} */


.child {
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 8px 11px 5px #1eadf0c9; */
}

/* .child-heading {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-content {
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    background: #c4f5ea;
    padding: 20px;
    border-radius: 5px;
    
    box-shadow: 10px 23px 20px rgb(64 69 223 / 10%);
} */

/* .head1 {
    font-size: 20px;
    font-weight: bold;
}

.head2 {
    font-size: 17px;
    font-weight: bold;
}

.head3 {
    font-size: 15px;
    font-weight: bold;
} */