{% extends 'base.html' %}
{% block title %} <title>MSCS</title>{% endblock title %}
{% block link %}
{{block.super}}
<link rel="stylesheet" href="static\base-login.css" />
{% endblock link %}

{% block style %}
{{block.super}}
<style>
    #mscsact {
        color: red;
    }
</style>

{% endblock style %}

{% block bttn %}
{{block.super}}
<div class="logbutton">
    <button class="btn"><a id="portal" href="/adminlogin">
            Login

        </a>
    </button>
    <button class="btn"><a id="portal" href="/form">
            Register

        </a>
    </button>

</div>
{% endblock bttn %}


{% block body %}
<div class="box">
    <div class="sidebar">
        <a id="checklist" href="/checklist">Checklist</a>
        <a id="modelbye" href="/modelbye">Model Bye laws</a>
        <a id="act" href="static/GuidelineAct2002.pdf" target="_blank">MSCS Act, 2002</a>
        <a id="rule" href="static/Rules2002.pdf" target="_blank">MSCS Rules, 2002</a>
        <a id="policy" href="static/NatPolicy02.pdf" target="_blank">National Policy </a>
        <!-- onCooperative 2002 -->

    </div>

    <div class="parent">
        {% block form-heading %}
        <div class="child">


            <div class="child-heading">

                <p class="head1"></p>
                <p class="head2"></p>
                <p class="head3"></p>

            </div>
            <div class="child-content">

            </div>

        </div>
        {% endblock form-heading %}


    </div>



</div>

</div>
{% endblock body %}