{% extends 'base.html' %}
{% block link %}
{{block.super}}
<link rel="stylesheet" href="static/index.css">
{% endblock link %}

{% block style %}
{{block.super}}
<style>
  #home {
    color: red;
  }

  .firstsection {
    height: 415px;
  }

  .sidecontainer {
    flex-wrap: wrap;
    display: flex;
  }

  .p1 {
    margin-top: 50px;
  }

  .side {
    margin: 30px 30px;
    padding: 0px 10px;
    border: solid black 2px;
    box-shadow: 8px 11px 5px #1eadf0c9;
    border-radius: 2%;
    width: 350px;
    height: 250px;
  }
</style>
{% endblock style %}

{% block bttn %}
{{block.super}}
<div class="logbutton">
  <button class="btn"><a id="portal" href="/adminlogin">
      Login

    </a>
  </button>
  <button class="btn"><a id="portal" href="/form">
      Register

    </a>
  </button>

</div>
{% endblock bttn %}

{% block body %}
{{block.super}}

<section class="boss">
  <section class="firstsection">
    <h3>Multi State Cooperative Societies ACT, 2002</h3>
    <p class="p1">
      An Act to consolidate and amend the law relating to co-operative
      societies, with objects not confined to one State and serving the
      interests of members in more than one State, to facilitate the
      voluntary formation and democratic functioning of co-operatives as
      people's institutions based on self-help and mutual aid and to enable
      them to promote their economic and social betterment and to provide
      functional autonomy ,was being felt necessary by the various
      cooperative societies, and federation of various cooperative societies
      as well as by the Government. In order to achieve the objective The
      Multi State Cooperative Societies Bill was introduced in the
      Parliament.The bill having been passed by both the Houses of
      Parliament received the assent of the President on 3rd July 2002 and
      it came on the Statute Book as The Multi State Cooperative Societies
      ACT 2002 (39 of 2002).
    </p>
  </section>
  <section class="secondsection" style="  width: 412px; height: 412px;margin: 30px 55px;">
    <h3>News/Events &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <img id="ctl00_ContentPlaceHolder1_Image1" src="static/Digital.png" alt="Digital"
        style="border-width:0px;text-decoration: none; vertical-align: middle; width: 120px; height: 30px; border: 1px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;" />
      &nbsp;
      <a href="#"><img id="HIT" src="static\no..png " alt="001607031" ;
          style="text-decoration: none; vertical-align: middle; float: right; padding-top: 5px; width: 120px; height: 28px; border: 1px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;"
          alt="HIT" /></a>
    </h3>

    <marquee id="Marquee1" behavior="scroll" direction="up" scrolldelay="100" height="312px" onmouseover="this.stop()"
      onmouseout="this.start()" scrollamount="2" direction="up" width="100%">
      <ul id="CurrentNews" style="text-align:justify;">
        <li style="font-size:medium;font-weight:bold;"><a
            href="static\Liquidator Change Order_subh kalyan Multistate Cooperative Credit Society Ltd_dated 05.06.2023 (1).pdf">Liquidator
            Change Order_subh kalyan Multistate Cooperative Credit Society Ltd dated 05.06.2023.pdf<img
              id="ctl00_ContentPlaceHolder1_Image58" alt="New" src="static/New2.gif" style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium;font-weight:bold;"><a href="static\Liquidator_extension_order.pdf">Liquidator
            extension order<img id="ctl00_ContentPlaceHolder1_Image57" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium;font-weight:bold;"><a href="static\Sales_officer_order_scan.pdf">Under Section 97
            of the Multi State
            Co-operative Societies Act,2002<img id="ctl00_ContentPlaceHolder1_Image56" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a></li>


        <li style="font-size:medium; font-weight:bold;"><a href="static/Order-Sale_Officer_dt_28_Mar_2023.pdf">Under
            Section 97 of the Multi
            State
            Co-operative Societies Act,2002<img id="ctl00_ContentPlaceHolder1_Image55" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a href="static/Order_for_Sale_Officer_dt_28.03.2023.pdf">Under
            Section 97 of the Multi
            State Co-operative Societies Act,2002<img id="ctl00_ContentPlaceHolder1_Image54" alt="New"
              src="static/New2.gif" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a href="static/Gazette_of_India_21-03-2023.pdf">Gazette of
            India 21-03-2023<img id="ctl00_ContentPlaceHolder1_Image53" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Liquidation_order_of_Swarn_India_Multi_State_Credit_Cooperative_Society_ltd.pdf">Liquidation
            order of Swarn India Multi State Credit Cooperative Society ltd<img id="ctl00_ContentPlaceHolder1_Image52"
              alt="New" src="static/New2.gif" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Notice_for_initiation_of_winding_up_process_of_Real_India_Credit_Cooperative_Society_ltd_Sirohi_Rajasthan_datd_07_march2023.pdf">Notice
            for initiation of winding up process of Real India Credit Cooperative Society ltd Sirohi Rajasthan datd 07
            march 2023<img id="ctl00_ContentPlaceHolder1_Image51" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="/static/Provisions_for_liquidation_process.pdf">Provisions of Multi-State
            Cooperative Societies Act,2002 & Rules made there under for Liquidation proceedings of a multi-state
            cooperative society-reg.<img id="ctl00_ContentPlaceHolder1_Image50" alt="New" src="static/New2.gif"
              style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Liquidator_extension_order_of_Shree_Swastik_Credit_Cooperative_Society_ltd_(1).pdf">Liquidator
            extension order of Shree Swastik Credit Cooperative Society ltd<img id="ctl00_ContentPlaceHolder1_Image49"
              alt="New" src="static/New2.gif" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/under_scetion_86_of_MSCS20230127_15290898.pdf">Under section 86 of the
            multi state Co-operative society Act,2002<img id="ctl00_ContentPlaceHolder1_Image48" alt="New"
              src="static/New2.gif" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Liquidation_order_31-01-2023_Rubi_credit_cooperative_society_Ltd_Ajmer_Rajasthan.pdf">Liquidation
            order 31-01-2023 Rubi credit cooperative society Ltd Ajmer Rajasthan<img
              id="ctl00_ContentPlaceHolder1_Image47" alt="New" src="static/New2.gif" style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Letter_issued_to_Winner_Royal_Varsha_Credit_cooperative_society_Ltd_Banswara_Rajasthan_19-01-2023.pdf">Letter
            issued to Winner Royal Varsha Credit cooperative society Ltd Banswara Rajasthan 19-01-2023<img
              id="ctl00_ContentPlaceHolder1_Image46" alt="New" src="static/New2.gif" style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Show_Cause_Notice_to_Pride_Multi_State_Credit_Cooperative_Society_dated_10_jan_2023.pdf">Show
            Cause Notice to Pride Multi State Credit Cooperative Society dated 10 jan 2023<img
              id="ctl00_ContentPlaceHolder1_Image45" alt="New" src="static/New2.gif" style="border-width:0px;" /> </a>
        </li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Madhavpura_Mercantile_Coop_Bank_Ltd.pdf">Madhavpura Mercantile Coop Bank
            Ltd<img id="ctl00_ContentPlaceHolder1_Image44" alt="New" src="static/New2.gif" style="border-width:0px;" />
          </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/notice_dated_15.12.2022_to_concerned_societies_for_not_filing_annual_return.pdf">Notice
            dated 15.12.2022 to concerned societies for not filing annual return<img
              id="ctl00_ContentPlaceHolder1_Image43" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/notice_dated_14.12.2022_to_concerned_societies_for_not_filing_annual_return.pdf">Notice
            dated 14.12.2022 to concerned societies for not filing annual return<img
              id="ctl00_ContentPlaceHolder1_Image42" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/notice_dated_16.12.2022_to_concerned_societies_for_not_filing_annual_return.pdf">Notice
            dated 16.12.2022 to concerned societies for not filing annual return<img
              id="ctl00_ContentPlaceHolder1_Image41" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="/static/notice_dated_19.12.2022_to_concerned_societies_for_not_filing_annual_return.pdf">notice
            dated 19.12.2022 to concerned societies for not filing annual return<img
              id="ctl00_ContentPlaceHolder1_Image40" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/notice_dated_21.12.2022_to_conerned_societies_for_not_filing_annual_return.pdf">Notice
            dated 21.12.2022 to conerned societies for not filing annual return<img
              id="ctl00_ContentPlaceHolder1_Image39" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a href="static/RCS_Bihar.pdf">Hearing
            Notice<img id="ctl00_ContentPlaceHolder1_Image38" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Notice_before_winding_up_Swarn_India_multistate_credit_cooperative_society_Ltd_Muzaffarpur_Bihar_16-11-2022-1.pdf">Notice
            before winding up_Swarn India multistate credit cooperative society Ltd Muzaffarpur Bihar 16-11-2022<img
              id="ctl00_ContentPlaceHolder1_Image37" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/extension_order_of_liquidator_of_Lakshya_multipurpose_cooperative_society_ltd_Bathinda_Punjab_13-12-2022.pdf">extension
            order of liquidator of Lakshya multipurpose cooperative society ltd Bathinda Punjab_13-12-2022<img
              id="ctl00_ContentPlaceHolder1_Image36" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a href="static/Notice_before_windingup_Rubi_2022.pdf">Rubi
            Credit Cooperative Society
            Ltd<img id="ctl00_ContentPlaceHolder1_Image34" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a href="static/Memon_bank.pdf">Liquidator
            appointment order upload<img id="ctl00_ContentPlaceHolder1_Image35" src="" style="border-width:0px;" />
          </a>
        </li>
        <li style="font-size:medium; font-weight:bold;"><a href="static/GeeLimited_Nov2022.pdf">Hearing in the matter
            of M/s Gee Limited on
            14.11.2022<img id="ctl00_ContentPlaceHolder1_Image33" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637997854924159061_Computarisation_Sep2022.pdf">Computerization of
            office of Central Registrar of Cooperative Societies.<img id="ctl00_ContentPlaceHolder1_Image32" src=""
              style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a href="">New Address of Office of Central Registrar of
            Cooperative
            Societies (CRCS) : Ministry of Cooperation, Floor-I, Atal Akshay Urja Bhawan, Lodhi Road, CGO Complex, New
            Delhi PIN 110 003 <img id="ctl00_ContentPlaceHolder1_Image31" src="" style="border-width:0px;" /></a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637902105948524781_Liquidation Order-25-05-2022.pdf">Arth Credit
            Cooperative Society Ltd, Jodhpur, Rajasthan: Order for winding up of the Society.<img
              id="ctl00_ContentPlaceHolder1_Image30" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637890750010636606_Notice for winding up-Navjeevan_25-05-2022.pdf">Navjeevan
            Credit Cooperative Society Ltd, Barmer, Rajasthan: Notice issued to initiate winding up process of the
            Society.<img id="ctl00_ContentPlaceHolder1_Image29" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637886572734210661_Order 18-05-2022-SCCSL batch VI-VII.pdf">Order
            dated 18-05-2022-SCCSL batch VI-VII related to sahara Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image28" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637886572290077426_Order 18-05-2022-SUMSL-batch I -II.pdf">Order
            dated 18-05-2022-SUMSL-batch I-II related to Saharayaan Universal multipurpose society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image27" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637886571947500427_Order 18-05-2022-HICCL-batch I.pdf">Order dated
            18-05-2022-HICCL-batch I related to Humara India Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image26" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637881456632499806_Order-12-05-2022-SCCSL-batch V.pdf">Order dated
            12-05-2022-SCCSL-batch-V related to sahara Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image25" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637881456205370559_Order-12-05-2022-SCCSL-batch IV.pdf">Order
            dated
            12-05-2022-SCCSL-batch-IV related to sahara Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image24" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637881455729257168_Order 12-05-2022-SCCSL-batch-III.pdf">Order
            dated
            12-05-2022-SCCSL-batch-III related to sahara Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image23" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637876766665968001_Order 07-05-2022-SCCSL.pdf">Order dated
            07-05-2022 related to sahara Credit Cooperative Society Ltd.<img id="ctl00_ContentPlaceHolder1_Image22"
              src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637876767016813027_Order 07-05-2022-SUMSL.pdf">Order dated
            07-05-2022 related to Saharayn Universal Multipurpose Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image21" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637876767275617778_Order 07-05-2022-HICCL.pdf">Order dated
            07-05-2022 related to Humara India Credit Cooperative Society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image19" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637872744724388801_Minutes-29-04-2022-Nodal Officers.pdf">Minutes
            of
            the meeting held on 29-04-2022 with the Nodal Officers of Sahara Credit Cooperative Society Ltd, Saharayn
            Universal Multipurpose Society Ltd and Humara India Credit Cooperative society Ltd.<img
              id="ctl00_ContentPlaceHolder1_Image15" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637871436680858289_Order dated 02-05-2022-SCCSL.pdf">Order dated
            02-05-2022 related to sahara Credit Cooperative Society Ltd.<img id="ctl00_ContentPlaceHolder1_Image12"
              src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637865644792041569_Liquidation Order_Super Bazaar_25-04-2022.pdf">Liquidation
            order of The Cooperative Store Ltd. (Super Bazar), New Delhi.<img id="ctl00_ContentPlaceHolder1_Image11"
              src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637859637379826290_Letter dated 08-04-2022 to Cheif Secretary all States.pdf">Hon’ble
            Delhi High Court Order dated 22.03.2022 in the matter of Sahara Credit Cooperative Society Ltd., Saharayn
            Universal Multipurpose Society Ltd. and Humara India Credit Cooperative Society Ltd.- regarding not to
            collect any further deposits.<img id="ctl00_ContentPlaceHolder1_Image120" src=""
              style="border-width:0px;" />
          </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637850245920579193_SaharaPressApril2022.pdf">Hon’ble Delhi High
            Court vide Order dated 22.03.2022 passed in W.P. (C) 669/2021, W.P. (C) 670/2021; W.P. (C) 817/2021 has
            restrained Sahara Credit Cooperative Society Ltd., Lucknow, Uttar Pradesh, Saharayn Universal Multipurpose
            Society Ltd., Bhopal, Madhya Pradesh &amp; Humara India Credit Cooperative Society Ltd., Kolkata, West
            Bengal from collecting any deposits from the public.<img id="ctl00_ContentPlaceHolder1_Image119" src=""
              style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637842817685340066_UserRegisterationMSCS_Mar2022.pdf">URGENT
            :Creation of User (registration) of the societies/banks on the portal of the Multi State Cooperative
            Societies -reg<img id="ctl00_ContentPlaceHolder1_Image118" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium;  font-weight:bold;"><a
            href="static/Cir_2_637824659014150428_Notice before winding up_09-03-2022.pdf">Notification
            : Arth Credit Cooperative Society Ltd, Jodhpur, Rajasthan: Notice issued to initiate winding up process of
            the Society <img id="ctl00_ContentPlaceHolder1_Image7" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637765781719714352_Notification for CRCS_Shri Vijay Kumar-AS.pdf">Notification
            : Appointment of Shri Vijay Kumar, IAS(AGMUT:92) as Central Registrar of Cooperative Societies <img
              id="ctl00_ContentPlaceHolder1_Image6" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637638614551292581_static_4-8-21_for returns 2020-21.pdf">Filling
            of Annual Returns for the year 2020-21 and earlier years under section 120 of the MSCS Act,2002 <img
              id="ctl00_ContentPlaceHolder1_Image105" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637638615592915619_Orders_108-110.pdf">Power
            conferred under
            section
            108 of the Multi State Cooperative Societies Act,2002 <img id="ctl00_ContentPlaceHolder1_Image16" src=""
              style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637519186866180168_Sanjivani_18-03-2021_March2021.pdf">Sanjivani
            Credit Cooperative Society Ltd, Rajasthan: Notice issued to initiate winding up of the Society <img
              id="ctl00_ContentPlaceHolder1_Image20" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637350825001073633_OrderSheet_PrithviCredit.pdf">Prithvi Credit
            Cooperative Society Ltd: Notice issued for winding up-reg <img id="ctl00_ContentPlaceHolder1_Image14" src=""
              style="border-width:0px;" /> </a></li>


        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637329254319255862_UPConstructive_LO_Aug2020.pdf">The Uttar
            Pradesh
            Cooperative Construction and Development Limited (Reg No. MSCS/CR/170/2004): Notice issued for winding
            up-reg<img id="ctl00_ContentPlaceHolder1_Image13" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637278268030644935_CommBank_Cir_June2020.pdf">Communication
            related
            to Multi State Urban Cooperative Banks (as also, Multi State Cooperative Societies Ltd)<img
              id="ctl00_ContentPlaceHolder1_Image8" src="" style="border-width:0px;" /> </a></li>
        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637268105626883968_ConductBoM_Bank_2020.pdf">Conduct of Board
            Meetings through Video Conferencing or other audio video means-reg.<img
              id="ctl00_ContentPlaceHolder1_Image10" src="" style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637208265035817675_staticcovid19_Mar2020.pdf"> static related
            to
            Multi State Cooperative Societies in view of COVID 19-reg<img id="ctl00_ContentPlaceHolder1_Image5" src=""
              style="border-width:0px;" /> </a></li>

        <li style="font-size:medium; font-weight:bold;"><a
            href="static/Cir_2_637139161082034358_ReturningOfficer_MSCS_Dec2019.pdf">Panel of
            Returning Officer for Conducting the Elections of the Board of Directors of the Multi-State Co-operative
            Societies and Banks.-reg<img id="ctl00_ContentPlaceHolder1_Image18" src="" style="border-width:0px;" />
          </a>
        </li>
        <li style="font-size:medium; font-weight:bold;"><a href="static/Cir_2_637122666517060621_Untitled.pdf">Obtaining
            prior approval of CRCS
            for opening of a new branch/es or place/s of business of a Multi State Cooperative Societies-reg<img
              id="ctl00_ContentPlaceHolder1_Image17" src="" style="border-width:0px;" /> </a></li>
        <li><a href="static/2016/RuleBranches_Nov2016.pdf">Documents/Informations to be furnished for approval of
            Central Registrar for opening of a new branch/es or place/s of business of a Multi State Cooperative
            Societies</a></li>

        <li><a href="static/2018/Cir_InfoAmend_O_July2018.pdf">Information/documents required under section 11(4)(g)
            in addition to Section 11(4) along with the Amendment application <img id="ctl00_ContentPlaceHolder1_Image9"
              src="" style="border-width:0px;" /> </a></li>

        <li><a href="static/2018/Cir_MoneyLaundering_Jan2018.pdf">Applicability of Prevention of Money Laundering
            Act
            (PMLA) , 2002 to Multi State Cooperative Societies (MSCSs)</a></li>


        <li><a href="static/2017/Cir_TimelyBOD_28July2017.pdf">Timely conduct of statutory audit & election to the
            Board of Directors of the cooperative societies </a></li>
        <li><a href="static/Cir_2_636767718333074399_Scan.pdf">Furnishing of Information to
            Registrar of Cooperative Societies : Full details of their existing branches<img
              id="ctl00_ContentPlaceHolder1_Image2" alt="New" src="static/New2.gif" style="border-width:0px;" /> </a>
        </li>

        <li><a href="static/2017/Cir_MatterHousing_28July2017.pdf">Matters relating to Housing Cooperative Societies
          </a> </li>
        <li><a href="static/2017/Cir_DisQualify_24July2017.pdf">Disqualification for being member of the Board of
            Multi State Cooperative Societies / Banks </a></li>

        <li><a href="static/2017/Cir_CollectionDeposit_July2017.pdf">Collection of deposits by Multi State
            Cooperative
            Societies - Dated 03-07-2017</a> </li>

        <li><a href="static/2017/DiversionFunds_June2017.pdf">Prohibition of diversion of funds from core business
            to
            other activities - Dated 09-06-2017</a> </li>
        <li><a href="static/2017/DecisionMakingProcess_June2017.pdf">Association of employees in management decision
            making process - Dated 09-06-2017</a> </li>


        <li><a href="static\2016/ExtensionArea.pdf">Claimimg extension of their area of operation without any
            registration from CRCS</a></li>
        <li><a href="static\NAFCUB16915.pdf">NOC for the existing Societies already registered under the
            Provision
            of MSCS Act, 2002</a></li>
        <li><a href="static\NOC2015.pdf">No Objection Certificate(NOC) from Registrar of Cooperative Societies of
            States/UTs of Multi State Cooperative Societies having objects and functions relating to thrift and Credit
            and for Multipurpose Cooperative Societies</a></li>
        <li><a href="staic\Power203.pdf">Gazette notification dated 24-02-2003 regarding delegation of powers of
            Arbitration to State RCS</a></li>

      </ul>
    </marquee>


  </section>
</section>

<div class="sidecontainer">
  <div class="side">
    <h4>Latest Hearings</h4>
    <table class="mGrid" cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_GridNotice"
      style="width:100%;border-collapse:collapse;">
      <tr>
        <td>Medcity Cooperative Hospital and Research Center Ltd.,KERALA </td>
      </tr>
      <tr>
        <td>Shree Ninaidevi Multi Specialty Cooperative Hospital and Research Center Ltd.,MAHARASHTRA </td>
      </tr>
      <tr>
        <td>Global Federation of Natural Farming Cooperative Ltd.,UTTAR PRADESH </td>
      </tr>
    </table>
    <a href="NoticeNew.aspx"><strong style="color: black; text-decoration: none; font-weight: bold;">Read
        More</strong></a>
  </div>



  <div class="side">
    <h4>Latest Certificates</h4>
    <div>
      <table class="mGrid" cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_GridCertificate"
        style="width:100%;border-collapse:collapse;">
        <tr>
          <td>COSMOS Cooperative Bank Ltd., ,MAHARASHTRA </td>
        </tr>
        <tr>
          <td>Wishvaas Credit Cooperative Society Ltd.,,PUNJAB </td>
        </tr>
        <tr>
          <td>Mahesh Multi State Cooperative Credit Society Ltd.,MAHARASHTRA </td>
        </tr>
      </table>
    </div>
    <a href="CertificateNRNew.aspx"><strong style="color: black; text-decoration: none; font-weight: bold;">Read
        More</strong></a>
    <br />
  </div>

  <div class="side" style="height: 277px;">

    <h4>Latest Order Sheet</h4>

    <div>
      <table class="mGrid" cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_GridOrderSheet"
        style="width:100%;border-collapse:collapse;">
        <tr>
          <td>Home Multi State Cooperative Housing Society Ltd</td>
        </tr>
        <tr>
          <td>Lokmanya Multipurpose Cooperative Society Limited, Belgaum, Karnataka: Order Sheet of Hearing held on
            14.02.2022</td>
        </tr>
        <tr>
          <td>Lotus Agricultural and Marketing Cooperative Society Ltd., Pitampura, New Delhi: Order Sheet of
            Hearing
            held on 04.02.2022</td>
        </tr>
      </table>
    </div>


    <a href="Ordersheet.aspx"><strong style="color: black; text-decoration: none; font-weight: bold;">Read
        More</strong></a>

    <br />

  </div>
</div>

{% endblock body %}